APP_NAME=skeleton
APP_ENV=dev
# 你自己的 http 服务的端口号
HTTP_PORT=9511
# json rpc 服务提供者的 ip 地址
JSON_RPC_PROVER_BASE_URL=127.0.0.1
# json rpc 服务提供者的端口号
JSON_RPC_PROVER_BASE_URL_PORT=9512
# consul 服务的通讯地址，这里可以设置成 consul docker 的地址或者你自己电脑局域网的 ip 地址
CONSUL_RIGISTRY=http://192.168.0.101:8500

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0